*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: #F4F6FF;
    color: #10375C;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: #10375C; /* Different color for the bar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100; /* Ensures it stays above other elements */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow effect */
}
.logo{
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a{
    font-size: 18px;
    color: #EB8317;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s *var(--i));

}

.navbar a:hover{
    color: #F3C623;
    transition: color 0.1s ease-in-out;

}
.navbar a:focus {
    color: #F3C623; 
    transition: color 0.1s ease-in-out;
}

.navbar a {
    transition: color 0.1s ease-in-out 0.5s; 
}

.home{
    position: relative;
    width: 95%;
    height: 120vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content{
    max-width: 600px;

}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay:1s ;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
    
}

.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
    
}

.home-content h3 span{
    color: rgb(40, 137, 158);
    
}
.home-content p{
    font-weight: 400;
    font-size: 30px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 2s;
}

.home-img img{
    max-width: 450px;
    margin-right: -20px;
    opacity: 0;
    animation: zoomIn 1s ease forwards;
    animation-delay: 1s;
    border-radius: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.home-img img:hover {
    transform: scale(1.2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 0.5px solid #EB8317;
    box-shadow: inset 0 0 10px #EB8317,0 0 20px #EB8317;
    border-radius: 50%;
    font-size: 20px;
    color: #10375C;
    text-decoration: none;
    
    margin: 30px 14px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s *var(--i));
    background-color: #F3C623;
}

.btn{
    display: inline-block;
    padding: 12px 28px;
    border: 0.5px solid #EB8317;
    background-color: #F3C623;
    border-radius: 40px;
    box-shadow: 0 0 10px #10375C;
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    font-weight: 400;
    opacity: 0;
    animation :slideTop 1s ease forwards ;
    animation-delay: 2s;
    box-shadow: inset 0 0 20px #EB8317;

}



.Projects{
    height: 100vh;
    width: 100%;
    padding: 20px;
    padding: 20px;
    background: #F4F6FF;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.Projects-Content{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.Projects h2 {
    font-size: 2em;
    margin-bottom: 20px;
    
}

.project-container {
    display: flex;
    align-items: center;
    position: relative;
}

.project-list {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    padding: 10px;
    margin: 0 40px; /* Add space for arrows */
    flex-wrap: nowrap;
}

.project-img{
    display: block;
    margin: 0 auto;
    width: auto;
    max-width: 100%;
    height: 30vh;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

.project-item > h3{
    text-align: center;
}

.project-item > p{
    margin: 4vh;

}
.project-item > a{
    text-align: center;
}
.project-img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.project-item {
    flex: 0 0 calc((100% - 80px) / 3); /* Show 3 items per row with gaps */
    background-color: #ffffff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.project-item:hover {
    transform: translateY(-15px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.project-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.project-item p {
    font-size: 1em;
    margin-bottom: 15px;
    color: #666;
}

.project-item a {
    max-width: max-content;

    text-decoration: none;
    color: #007acc;
    font-weight: bold;
    border: 1px solid #007acc;
    border-radius: 4px;
    padding: 5px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.project-item a:hover {
    background-color: #007acc;
    color: #fff;
}
.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #007acc;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5em;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.scroll-button:hover {
    background-color: #005f99;
}

.scroll-button.left {
    left: 10px;
}

.scroll-button.right {
    right: 10px;
}

.about{
    display: flex;
    justify-content: center;
    height: 100vh;
    color: #10375C;
    padding: 20px;
    background: #F4F6FF;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

#about-heading{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.about-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 80vh;
    width:140ch;
    background: linear-gradient(120deg, #F3C623, #EB8317);
    background-size: 300% 300%;
    animation: backgroundAnimation 6s infinite ease-in-out;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.about-wrapper:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

.about-photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 8px solid #10375C;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px;
    
}
@keyframes backgroundAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.about-photo:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}


.about-text {
    width: 1000px;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    

}


.skills{
    display:flex;
    justify-content:center;
    height: 100vh;
    padding: 20px;
    background: #F4F6FF;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    

}
#skills-heading{
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.skills-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.skills-grid {
    display: grid;
    grid-template-columns: repeat(6, 200px);
    gap: 20px;
    justify-items: center;
    margin: 20px 0;
}

.skill-item {
    text-align: center;
    padding: 10px;
    transition: transform 0.3s ease;
}

.skill-item i {
    font-size: 50px;
    color: #007acc;
    margin-bottom: 10px;
}

.skill-item p {
    font-size: 16px;
    font-weight: bold;
    color: #444;
}

.skill-item:hover {
    transform: scale(1.4);
    color: #005ea2;
}
.education {
    padding: 20px;
    height: 100vh;
    
    background: #F4F6FF;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    
}

#education-heading {
    text-align: center;
    color: #10375C;
    font-weight: bold;
    margin-bottom: 20px;
}

.education-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.education-item {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    border-left: 5px solid #F3C623;
}

.education-item h3 {
    color: #EB8317;
    margin-bottom: 10px;
}

.education-item p {
    margin: 5px 0;
    color: #10375C;
}


.contact{
    display: flex;
    justify-content: center;
    padding: 20px;
    background: #F4F6FF;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    align-items: center;
}
#contact-heading{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#contact-desc{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-content{
    display:flex;
    flex-direction: column;
    justify-content: center;

    
}
.form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    margin: 5px;


}
#name{
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#email{
    padding:20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#message{
    padding:30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn{
    padding: 20px;
    margin-top: 20px;
}



@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
} 

@keyframes slideBottom{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
} 

@keyframes zoomIn{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
